<h1>{{title}}</h1>
<h3>Author: {{author}}</h3>
<nav>
    <a routerLink="/heroes">HeroesComponent</a>
    <br />
    <a routerLink="/serve">Served Heroes component</a>
    <br/>
    <a routerLink="/dashbord">Dashboard</a>
</nav>
<router-outlet></router-outlet>

<app-messages></app-messages>

<!-- <p>{{3/2}}</p> -->
<!-- <p>{{"cat" + "dog"}}</p> -->
<!-- interpolation binding = {{variable}} -->
<!-- interpolation definition "the insertion of something of a different nature into something else" -->
<!-- mathematics: insertion of a value or term by estimating or calculating it from surrounding known values -->
<!-- <HeroesComponent></HeroesComponent> -->





