
<div *ngIf="hero">
<h1>Selected Hero</h1>
<p>Inner Component</p>
    <!-- I need to figure out how to make this only change on submit... -->
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div><span>name: </span>{{hero.name}}</div>
    <label for="sname">Hero name: </label>
    <input id="sname" [(ngModel)]="hero.name" placeholder="name">
    <!-- it starts to get confusing as to which html strings are angular... is placeholder displaying "name"? Probably -->
</div>